<html>
	<body style="background-image: url('{{ STATIC_URL }}media/60113.JPG');">
		<center>
			<h1> Python Based Hybrid Cryptography <br>For Secure File Storage </h1><br><br>
			<form action = "/download_data" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" required/>
				<br><br><input type = "Submit"/>
			</form>
			<br style= 'line-height: 6.95;'><h4>A Project by:</h4>
			<h5>Pratyush Sahu (16115060)<br>Satish Ratre (16115073)<br>Saurabh Sahu (16115074)</h5>
		</center>
	</body>
</html>