<html>
	<body style="background-image: url('{{ STATIC_URL }}media/60113.JPG')";>
		<center>
			<h1> Python Based Hybrid Cryptography <br>For Secure File Storage</h1><br><br>
			<table>
				<tr>
					<td><a href="upload"><button>Encrypt</button></a></td>
					<td><a href="download"><button>Decrypt</button></a></td>
				</tr>
			</table>
			<br style= 'line-height: 10;'><h4>A Project by:</h4>
			<h5>Pratyush Sahu (16115060)<br>Satish Ratre (16115073)<br>Saurabh Sahu (16115074)</h5>
		</center>
	</body>
</html>