<html>
	<body style="background-image: url('{{ STATIC_URL }}media/60113.JPG');">
		<center>
			<h1> Python Based Hybrid Cryptography <br>For Secure File Storage </h1><br>
			<b><p style="color:green; font-size:50px">SUCCESS</p></b>
			<table>
				<tr>
					<td><a href='return-file' target="blank"><button>Download File</button></a></td>
					<td><a href='/'><button>Back to HOME</button></a></td>
				</tr>
			</table>
			<br style= 'line-height: 1.25;'><h4>A Project by:</h4>
			<h5>Pratyush Sahu (16115060)<br>Satish Ratre (16115073)<br>Saurabh Sahu (16115074)</h5>
		</center>
	</body>
</html>